In [4]:
import pandas as pd

covid = pd.read_csv("covid_vax_municipal.csv")
covid. head()

,neighborhood_municipality,total_partially_vaccinated,total_fully_vaccinated,total_fully_vaccinated_w_booster
0,Aspinwall,264,1136,1175
1,Avalon,345,1703,1445
2,Baldwin Borough,1421,7370,7325
3,Baldwin Township,126,678,746
4,Ben Avon,173,680,656

In [7]:
covid.sort_values(["total_fully_vaccinated_w_booster","total_fully_vaccinated","total_partially_vaccinated"], ascending = False)

,neighborhood_municipality,total_partially_vaccinated,total_fully_vaccinated,total_fully_vaccinated_w_booster
39,Mount Lebanon,3463,12008,14594
6,Bethel Park,2328,11223,13100
95,Ross,2444,11774,12461
45,Penn Hills,2818,13253,11626
144,McCandless,2443,10184,11415
...,...,...,...,...
30,Haysville,5,20,20
49,Arlington Heights (Pittsburgh),18,64,19
166,Chateau (Pittsburgh),8,23,13
215,Trafford,0,2,3
145,Mcdonald,2,2,0

By reading the table above, we can see that the city "Mount Lebanon" is the best city in Pittsburgh, because it has the most number of vaccinated people in pittsburgh, this city is the safest city in pitt.